# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/gangerne/apps/anya-server"
PassengerBaseURI "/"
PassengerNodejs "/home/gangerne/nodevenv/apps/anya-server/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
PassengerAppLogFile "/home/gangerne/apps/anya-server/passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END